<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<title>login</title>
{css href="/static/a/css/bootstrap.min.css" /}
{css href="/static/a/Font-Awesome/css/font-awesome.min.css" /}
{css href="/static/a/css/login.css" /}
</head>
<body>
<div class="container">
	<div class="login_box">
		<h3>斗捷网络</h3>
		<i class="notice icon-exclamation-sign">&nbsp;&nbsp;输入有误</i>	
		<form role="form">
		  	<div class="form-group">
		  		<i class="icon-user"></i>
		    	<input type="text" class="form-control phoneIpt" placeholder="请输入账号" name="uname">
		  	</div>
		  	<div class="form-group">
		  		<i class="icon-lock"></i>
		    	<input type="password" class="form-control pwdIpt" placeholder="请输入密码" name="password">
			</div>
			<div class="form-group">
				<button type="button" class="">登&nbsp;&nbsp;录</button>
			</div>
		</form>
	</div>
</div>
</body>
{js href="/static/a/js/jquery-3.1.1.min.js" /}
{js href="/static/a/js/bootstrap.min.js" /}
{js href="/static/a/jedate/jquery.jedate.js" /}
{js href="/static/a/layer/layer.js" /}
{js href="/static/a/js/base.js" /}
</html>