{include file="public/base" title="$category_data.page_title" /}
<h3>
    <i class="icon-edit"></i>&nbsp;{$category_data.page_title}
</h3>
<ol class="breadcrumb">
    <li><a href="{:url('Index/index')}"><i class="icon-home"></i>&nbsp;首页</a></li>
    <li><a href="{:url('Article/category')}"><i class="icon-tags"></i>&nbsp;资讯类别</a></li>
    <li class="active"><i class="icon-edit"></i>&nbsp;{$category_data.page_title}</li>
</ol>
<!-- 基本信息 start -->
<div class="content data">
    <form method="post" enctype="multipart/form-data" action='{:url("Sub/edit_category","category_id=".$category_data.id)}' id="edit_category">
        <table class="table table-bordered table-hover">
            <tbody>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="title" class="col-sm-1 control-label">名称</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="name" placeholder="请输入名称" value="{$category_data.name|default=''}">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="title" class="col-sm-1 control-label">排序</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="sort" placeholder="请输入排序" value="{$category_data.sort|default=''}">
                                <strong class="view_notice">排序越小越靠前</strong>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <div class="col-sm-1">
                                <button type="sub" class="form-control">添&nbsp;加</button>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
<!-- 基本信息 end -->
{include file="public/footer" /}
