{include file="public/base" style="" /}
<div class="main fade out">
	<div class="Dm_news_con">
		<div class="news-menu">
            <nav>
                <ul id="filters1">
                    <li><a href="{:url('/news_c')}" class="{eq name="$info.category_id" value="0"}active {/eq}trans">全部资讯</a></li>
                    {volist name="category_list" id="category"}
                    <li>
                        <a href="{:url('/news_c'.$category.id)}" class="{eq name="$info.category_id" value="$category.id"}active {/eq}trans" >{$category.name}</a>
                    </li>               
                    {/volist}
                </ul>
            </nav>
		</div>
		<div class="news_titles">
			<h1>{$info.title}</h1>
			<div class="p">
				<span>发布时间：{$info.create_time}</span>
                <span>编辑发布：{$info.author}</span>
				<span>浏览量：{$info.view_num}</span>
			</div>
		</div>
		<div class="newContent">
           {$info.content}
            <p><br/></p>
            <p><br/></p>
            <div class="newsshare">
                <span>分享至：</span>
                <div class="bdsharebuttonbox" data-tag="share_1">
                    <a class="bds_mshare" data-cmd="mshare"></a>
                    <a class="bds_qzone" data-cmd="qzone" href="#"></a>
                    <a class="bds_tsina" data-cmd="tsina"></a>
                    <a class="bds_baidu" data-cmd="baidu"></a>
                    <a class="bds_renren" data-cmd="renren"></a>
                    <a class="bds_tqq" data-cmd="tqq"></a>
                    <a class="bds_more" data-cmd="more">更多</a>
                    <a class="bds_count" data-cmd="count"></a>
                </div>
            </div>
        </div>
        <div class="relatedList clearfix">
            <h3>相关资讯</h3>
            <ul class="news_other">
                {volist name="article_about" id="about"}
                <li>
                    <a href="{:url('/news_detail_1'.$about.id)}" >
                        <div class="imgs"><img src="{$about.pic_path}" ></div>
                        <div class="texts">
                            <h5>{$about.title}</h5>
                            <span>{$about.create_time}</span>
                            <p class="ui-nowrap2">{$about.description}</p>
                        </div>
                    </a>
                </li>
                {/volist}
            </ul>
        </div>	
    </div>
</div>
<div class="menuWeel1">
    {notempty name="$previous_id"}
    <a href="{:url('/new_detail_1'.$previous_id)}" class="butLeft"><i class="icon iconfont" style="font-size:18px;">&#xe509;</i></a>
    {/notempty}
    <a href="{:url('/news_c')}" class="works_more">&#xe630;</a>
    {notempty name="$next_id"}
    <a href="{:url('/new_detail_1'.$next_id)}" class="butRight"><i class="icon iconfont" style="font-size:18px;">&#xe654;</i></a>
    {/notempty}
</div>
{include file="public/inter" /}
{include file="public/footer" /}
<script src="/static/h/js/jquery-1.9.1.min.js"></script>
<script src="/static/h/js/nprogress.js"></script>
<script src="/static/h/js/public.js"></script>
<script>
    var host = window.location.host;
    window._bd_share_config = {
        common : {
            bdText : '{$info.title}', 
            bdDesc : '{$info.description}', 
            bdUrl : host+'/new_detail_1'+'{$info.id}',   
            bdPic : host+"{$info.pic_path}"
        },
        share : [{
            "bdSize" : 16
        }],
        selectShare : [{
            "bdselectMiniList" : ['qzone','tqq','kaixin001','bdxc','tqf']
        }]
    }
    with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion='+~(-new Date()/36e5)];
</script>
</body>
</html>