{include file="public/base" title="修改密码" file_name="edit_password" /}
<h3>
    <i class="icon-edit"></i>&nbsp;修改密码
</h3>
<ol class="breadcrumb">
    <li><a href="{:url('Index/index')}"><i class="icon-home"></i>&nbsp;首页</a></li>
    <li><a href="{:url('Empuser/index')}"><i class="icon-user"></i>&nbsp;账户列表</a></li>
    <li class="active"><i class="icon-edit"></i>&nbsp;修改密码</li>
</ol>
<!-- 基本信息 start -->
<div class="content data">
    <form method="post" enctype="multipart/form-data" action="{:url('sub/edit_password')}" id="edit_password">
        <table class="table table-bordered table-hover">
            <tbody>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="url" class="col-sm-1 control-label">密码</label>
                            <div class="col-sm-3">
                                <input type="password" class="form-control" name="password" placeholder="请输入密码">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <div class="col-sm-1">
                                <button type="sub" class="form-control">修&nbsp;改</button>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
<!-- 基本信息 end -->
{include file="public/footer" /}
