<footer class="footer">
    <ul>
        <li><a href="{:url('/about')}">关于斗捷</a></li>
        <li><a href="{:url('/service')}">服务内容</a></li>
        <li><a href="{:url('/cases_t')}">成功案例</a></li>
        <li><a href="{:url('/news_c')}">新闻资讯</a></li>
        <li><a href="{:url('/contact')}">联系斗捷</a></li> 
    </ul>
    <div class="dm_copyRight">
        <span>{$website.copyright_info}</span>
        <a href="http://www.miitbeian.gov.cn/" target="_blank">{$website.record_num}</a>
    </div>
    <div class="badger"><img src="{$website.weixin_path}" width="100" height="100"></div>
</footer>
{$website.script_footer}