<div class="dm_inter">
    <ul class="icon_dojay icon_lists">
        <i class="icon iconfont">&#xe601;</i>   
    </ul>
    <ul class="clearfix">
        <li class="bg1 trans">
            <a href="{:url('/about')}" class="red">
                <div class="cube-wrapper">
                    <div class="cube-inner"></div>
                </div>
                <div class="explore_dm trans">
                    <span>ABOUT US</span>
                    <i>&#xe606;</i>
                </div>
                <div class="explore_dm_cn trans">
                    <span>关于斗捷</span>
                    <i>&#xe606;</i>
                </div>
            </a>
        </li>
        <li class="bg2 trans">
            <a href="{:url('/cases_t')}" class="red">
                <div class="cube-wrapper">
                    <div class="cube-inner"></div>
                </div>
                <div class="explore_dm trans">
                    <span>CASE OVERVIEW</span>
                    <i>&#xe606;</i>
                </div>
                <div class="explore_dm_cn trans">
                    <span>成功案例</span>
                    <i>&#xe606;</i>
                </div>
            </a>
        </li>
        <li class="bg3 trans">
            <a href="{:url('/service')}" class="black">
                <div class="cube-wrapper">
                    <div class="cube-inner"></div>
                </div>
                <div class="explore_dm trans">
                    <span>SERVICE ITEMS</span>
                    <i>&#xe606;</i>
                </div>
                <div class="explore_dm_cn trans">
                    <span>服务内容</span>
                    <i>&#xe606;</i>
                </div>
            </a>
        </li>
    </ul>
</div>